@import "../../vars";

.box {
  padding: 25px;
  display: flex;
  align-items: center;
}

.leftBox {
  background-color: $blue-primary-color;
  flex-basis: 50%;
}

.rightBox {
  background-color: $blue-secondary-color;
  flex-basis: 50%;
}
$height: 75vh;
.container {
  display: flex;
  justify-content: space-between;
  height: $height;
  margin-top: (100vh - $height)/2;
  overflow: hidden;
}
